<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <style>
    a{
    text-decoration: none;
    color: #000000;
    font-family: 'Monserat';
    }
    .navbar-brand{
      margin-left: 50px;
      padding-top: 0px;
      margin-bottom: 0px;
    }
    .d-flex{
      margin-left: 140px;
      margin-bottom: 0px;
    }
  </style>
  <body>
      <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="{% url 'index' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">COZY_AND_WARM</font></font></a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Переключить навигацию">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
          <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
      </header>
      <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
              <div class="position-sticky pt-3 sidebar-sticky">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                  <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Каталог</font></font></span>
                </h6>
                <ul class="nav flex-column">
                  <li class="nav-item">
                  {% for i in category %}
                    <div class="btn-group dropend">
                      <button type="button" class="btn btn-withe dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
                      {{ i.name }}
                      </button>
                      <ul class="dropdown-menu">
                        {% for q in subcategory %}
                          {% if q.category == i %}
                            <li class="nav-item"><a href="#">{{ q.name }}</a> </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  </li>
                  {% endfor %}
                </ul> 
              </div>
          </nav>
        </div>
      </div>
      <main class="row col-md-9 ms-sm-auto col-lg-10">
        {% block body %}{% endblock %}
      </main>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>