{% extends 'base.html' %}
{% block title %}{{ genre1.name }}{% endblock %}
{% block meta %}
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}
{% block body %}

<section id="search-result" class="search-result">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3 class="category-title">{{ genre1.name }}</h3>
                {% for i in book %}
                <div class="d-md-flex post-entry-2 small-img">
                    <a href="{{ i.get_absolute_url }}" class="me-4 thumbnail">
                        <img src="{{ MEDIA_URL }}{{ i.image.url }}" alt="" class="img-fluid">
                    </a>
                    <div>
                        <div class="post-meta"><span class="date">Дата написания</span> <span class="mx-1">&bullet;</span> <span>{{ i.date_of_writing }}</span></div>
                        <h3><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></h3>
                        <p>{{ i.description }}.</p>
                        <div class="d-flex align-items-center author">
                            <div class="photo"><img src="{{ MEDIA_URL }}{{ i.author.image.url }}" alt="" class="img-fluid"></div>
                            <div class="name">
                                <h3 class="m-0 p-0">{{ i.author }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- Paging -->
                <div class="text-start py-4">
                    <div class="custom-pagination">
                        <a href="#" class="prev">Назад</a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#" class="next">Вперед</a>
                    </div>
                </div><!-- End Paging -->

            </div>

            <div class="col-md-3">

            </div>

        </div>
    </div>
</section>
{% endblock %}