{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% block meta %}
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}
{% block body %}
<section id="hero-slider" class="hero-slider">
    <div class="container-md" data-aos="fade-in">
        <div class="row">
            <div class="col-12">
                <div class="swiper sliderFeaturedPosts">
                    <div class="swiper-wrapper">
                        {% for news in news %}
                        <div class="swiper-slide">
                            <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url({{ MEDIA_URL }}{{ news.image.url }});">
                                <div class="img-bg-inner">
                                    <h2>{{ news.heading }}</h2>
                                    <p class="truncate">{{ news.description }}</p>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="custom-swiper-button-next">
                        <span class="bi-chevron-right"></span>
                    </div>
                    <div class="custom-swiper-button-prev">
                        <span class="bi-chevron-left"></span>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="category-section">
    <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <h2>Новинки</h2>
            <div><a href="category.html" class="more">Все новинки</a></div>
        </div>

        <div class="row">
            <div class="col-md-9">

                <div class="d-lg-flex post-entry-2">
                    <a href="{{ now.1.get_absolute_url }}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                        <img src="{{ MEDIA_URL }}{{ now.0.image.url }}" alt="" class="img-fluid">
                    </a>
                    <div>
                        <div class="post-meta"><span class="date">Дата написания</span> <span class="mx-1">&bullet;</span> <span>{{ now.0.date_of_writing }}</span></div>
                        <h3><a href="{{ now.0.get_absolute_url }}">{{ now.0.name }}</a></h3>
                        <p>{{ now.0.description }}</p>
                        <div class="d-flex align-items-center author">
                            <div class="photo"><img src="{{ MEDIA_URL }}{{ now.0.author.image.url }}" alt="" class="img-fluid"></div>
                            <div class="name">
                                <h3 class="m-0 p-0">{{ now.0.author }}</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="post-entry-1 border-bottom">
                            <a href="{{ now.1.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ now.1.image.url }}" alt="" class="img-fluid"></a>
                            <div class="post-meta"><span class="date">Дата написания</span> <span class="mx-1">&bullet;</span> <span>{{ now.1.date_of_writing }}</span></div>
                            <h2 class="mb-2"><a href="{{ now.1.get_absolute_url }}">{{ now.1.name }}</a></h2>
                            <div class="d-flex align-items-center author">
                                <div class="photo"><img src="{{ MEDIA_URL }}{{ now.1.author.image.url }}" alt="" class="img-fluid"></div>
                                <div class="name">
                                    <h3 class="m-0 p-0">{{ now.1.author }}</h3>
                                </div>
                            </div>
                            <p></p>
                            <p class="mb-4 d-block">{{ now.1.description }}</p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="post-entry-1">
                            <a href="{{ now.2.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ now.2.image.url }}" alt="" class="img-fluid"></a>
                            <div class="post-meta"><span class="date">Дата написания</span> <span class="mx-1">&bullet;</span> <span>{{ now.2.date_of_writing }}</span></div>
                            <h2 class="mb-2"><a href="{{ now.2.get_absolute_url }}">{{ now.2.name }}</a></h2>
                            <div class="d-flex align-items-center author">
                                <div class="photo"><img src="{{ MEDIA_URL }}{{ now.1.author.image.url }}" alt="" class="img-fluid"></div>
                                <div class="name">
                                    <h3 class="m-0 p-0">{{ now.1.author }}</h3>
                                </div>
                            </div>
                            <p></p>
                            <p class="mb-4 d-block">{{ now.1.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                {% for news in news %}
                    <div class="post-entry-1 border-bottom">
                        <div class="post-meta"><span class="date">Дата</span> <span class="mx-1">&bullet;</span> <span>{{ news.pudlicachia_date }}</span></div>
                        <h2 class="mb-2"><a href="single-post.html">{{ news.heading }}</a></h2>
                        <span class="author mb-3 d-block">{{ news.source }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
</section>
<section class="category-section">
    <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <h2>Рандомное чтение</h2>
        </div>

        <div class="row">
            <div class="col-md-9 order-md-2">

                <div class="d-lg-flex post-entry-2">
                    <a href="{{ book.0.get_absolute_url }}" class="me-4 thumbnail d-inline-block mb-4 mb-lg-0">
                        <img src="{{ MEDIA_URL }}{{ book.0.image.url }}" alt="" class="img-fluid">
                    </a>
                    <div>
                        <div class="post-meta"><span class="date">Дата написания</span> <span class="mx-1">&bullet;</span> <span>{{ book.0.date_of_writing }}</span></div>
                        <h3><a href="{{ book.0.get_absolute_url }}">{{ book.0.name }}</a></h3>
                        <p>{{ book.0.description }}</p>
                        <div class="d-flex align-items-center author">
                            <div class="photo"><img src="{{ MEDIA_URL }}{{ book.0.author.image.url }}" alt="" class="img-fluid"></div>
                            <div class="name">
                                <h3 class="m-0 p-0">{{ book.0.author }}</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="post-entry-1 border-bottom">
                            <a href="{{ book.1.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ book.1.image.url }}" alt="" class="img-fluid"></a>
                            <div class="post-meta"><span class="date">Дата написания</span> <span class="mx-1">&bullet;</span> <span>{{ book.1.date_of_writing }}</span></div>
                            <h2 class="mb-2"><a href="{{ book.1.get_absolute_url }}">{{ book.1.name }}</a></h2>
                            <div class="d-flex align-items-center author">
                                <div class="photo"><img src="{{ MEDIA_URL }}{{ book.1.author.image.url }}" alt="" class="img-fluid"></div>
                                <div class="name">
                                    <h3 class="m-0 p-0">{{ book.1.author }}</h3>
                                </div>
                            </div>
                            <p class="mb-4 d-block">{{ book.1.description }}</p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="post-entry-1">
                            <a href="{{ book.2.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ book.2.image.url }}" alt="" class="img-fluid"></a>
                            <div class="post-meta"><span class="date">Дата написания</span> <span class="mx-1">&bullet;</span> <span>{{ book.2.date_of_writing }}</span></div>
                            <h2 class="mb-2"><a href="{{ book.2.get_absolute_url }}">{{ book.2.name }}</a></h2>
                            <div class="d-flex align-items-center author">
                                <div class="photo"><img src="{{ MEDIA_URL }}{{ book.2.author.image.url }}" alt="" class="img-fluid"></div>
                                <div class="name">
                                    <h3 class="m-0 p-0">{{ book.2.author }}</h3>
                                </div>
                            </div>
                            <p class="mb-4 d-block">{{ book.2.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                {% for news in news %}
                <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Дата</span> <span class="mx-1">&bullet;</span> <span>{{ news.pudlicachia_date }}</span></div>
                    <h2 class="mb-2"><a href="single-post.html">{{ news.heading }}</a></h2>
                    <span class="author mb-3 d-block">{{ news.source }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

